body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  display: flex;
  height: 100vh;
  color: #333;
}

h1 {
  font-family: 'Muller', sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

strong{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.container {
    display: flex;
    width: 100%;
}

/* === Sidebar === */
.logo{
  width: 166px;
  height: 60px;
  display: block;
  /* margin: 0 auto; */
  margin-left: 10px;
}

.sidebar {
  min-width: 264px;
  background-color: #FFFFFF;
  border-right: 1px solid #E7E7E7;
  padding: 8px;
  color: #5C5C5C;
  padding-top: 29px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-top: 8px; 
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #5C5C5C;
  padding: 8px;
  margin-left: 10px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.sidebar a:hover {
  background-color: #F7F7F7;
}

.sidebar a.active {
  color: #143AA4;
}
.sidebar a img.active {
  filter: invert(25%) sepia(90%) saturate(1200%) hue-rotate(209deg) brightness(90%) contrast(90%);
}


.sidebar a img {
  margin-right: 8px; 
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

/* === Кнопки === */
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 8px 16px;
  height: 36px;
  background-color: #1846C7;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color .2s;
}

button:hover {
  background-color: #143AA4;
}

button:active {
  background-color: #143AA4;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button a,
button a:hover {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

/* === Filter === */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 16px;
}

.filter-field {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

label {
  margin-bottom: 4px;
}

/* === Input и Select === */
input,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #E7E7E7;
  padding: 6px 8px 6px 12px;
  min-width: 140px;
  border-radius: 6px;
  background-color: #FFFFFF;
  transition: all 0.2s ease;
}

input:hover,
select:hover {
  color: #333333;
}

input:focus,
select:focus {
  border-color: #1846C7;
  outline: none;
}

input:active{
  border-color: #1846C7;
}

input.error{
  border-color: #EE215B;
}

input:disabled,
select:disabled {
  color: #ADADAD;
  border-color: #E7E7E7;
  background-color: #E7E7E7;
}

select {
  appearance: none;
  background-image: url('../img/arrow-down.svg'); 
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;
  min-width: 150px;
}

.select-open {
  background-image: url('../img/arrow-up.svg');
}


/* === Dropdowns === */
.dropdown-open {
  background-color: #F7F7F7 !important;
  color: white;
  border-color: #1846C7;
}

/* === Link === */
a {
  color: #1846C7;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

a:hover {
  color: #1640B6;
}

/* === Таблицы === */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  font-size: 14px;
  line-height: 22px;
}

.data-table thead th {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #858585;
  text-align: left;
  padding: 20px 12px;
  background-color: #fff;
  border-bottom: 1px solid #E7E7E7; 
  margin-bottom: 3px;
}


.data-table tbody td {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 12px;
  margin-bottom: 3px;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.inner-table {
  border: 1px solid #E7E7E7;
  border-collapse: collapse;
  padding: 8px;
  width: calc(100% - 4px);
}
.inner-table thead th{
  border: none;
  padding-bottom: 10px;
}
.inner-table tbody td{
  background-color: #FFFFFF; 
}

.left-border {
  width: 4px;
  background-color: #035DD8;
}

.toggle-details {
  transition: transform 0.2s;
}

.toggle-details:focus {
  outline: none;
}

.teacher-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* .data-table tbody tr:hover {
  background-color: #f0f0f0;
} */

/* === Текстовые стили === */
.text-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.text-big-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


.text-base {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.text-table-header {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

/* === drag & drop === */
#drop-zone {
  border: 1px dashed #ADADAD;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px 0;
  transition: all 0.3s ease;
}

#drop-zone.dragover {
  border-color: #1846c7;
  background-color: #edf0fb; 
}

#drop-zone input[type="file"] {
  display: none;
}

#drop-zone p {
  margin: 0;
  padding: 0;
}

#drop-zone p span {
  color: #1846c7;
  cursor: pointer;
}

.upload{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: #858585;
  font-size: 12px;
  line-height: 18px;
}
#uploaded{
  justify-content:space-between;
}
#uploaded a{
  color: #1846C7;
  margin-left: 5px;
  font-size: 12px;
}
#uploaded button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ee215b; 

}

/* === Уведомления === */
.notifications-container {
  position: fixed;
  top: 40px;
  right: 22px;
  z-index: 10000;
  display: flex;
   flex-direction: column; 
  align-items: flex-end; 
  gap: 8px; 
}

.notification {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  padding: 16px 20px;

  width: 360px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  color: #333;
  font-size: 12px;
  line-height: 18px;

  animation: fadeIn 0.3s ease-out;
  position: relative;
}

.notification-content {
  display: flex;
  align-items: flex-start;
  width: 302px;
  gap: 12px;
  flex: 1;
}


.notification .message {
  flex: 1;
  margin-top: 2px;
  word-break: break-word;
}

.notification .close-btn {
  background: none;
  border: none;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.notification.success { 
  border-bottom: 4px solid #22B217;
}

.notification.error { 
  border-bottom: 4px solid #EE215B;
}

.notification.warning { 
  border-bottom: 4px solid #F7B500;
}

.notification.system { 
  border-bottom: 4px solid #1846C7;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-10px); }
}

/* === Прочее === */
.content {
  flex-grow: 1;
  padding: 30px;
}

.hidden {
  display: none;
}

.clickable {
  color: #1846C7;
  cursor: pointer;
  text-decoration: underline;
}

.clickable:hover {
  color: #143AA4;
}

#no-results-message {
  margin-top: 1em;
  color: #999;
}

#import-form{
  width: 504px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kabinet{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-table tbody tr.changable-highlight {
  background-color: #C8D3F2;
}

.data-table tbody tr.changable-highlight:nth-child(even) {
  background-color: #EDF0FB;
}

.spring-semester td{
  background-color: #EDF0FB !important; 
}
